extends ../../app/pug/layout

block title
    | slider

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="sliderPage").content-wrapper
        +sliderPageContent