$white: #FFFFFF;
$black: #000000;
$title_color: #012B34;
$spoiler_color: #000402;
$line_color: #E6E6E6;
$active_text_color: #02818A;
$mainTextColor: #42567A;
$buttonColor: #3877EE;
$borderColor: #303E58;
$modalBackgroundColor: #F4F5F9;
$transitionColor: #1e1e24;