mixin header(props)
    header&attributes(attributes).header
        a(href="/").header__logo.header__logo--additionalColor
            +svg('only')
        .header__links
            a(href="/").header__link Задание 1
            a(href="/sliderPage.html").header__link Задание 2