mixin transition(props)
    .transition&attributes(attributes)
        .transition__preloader
            .transition__preloader--line
        .transition__inside
            .transition__inside--top
            .transition__inside--bottom
